:root {
    --color-accent: #ff3400;
    --color-body: #918ca4;
    --color-headings: #1b0760;
    --color-primary: #247cef;
    --color-secondary: #00d9ff;
    --color-border: #ccc;
    --boder-radius: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*region Typography*/
html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

}

/*endregion*/

/*region Links*/
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/*endregion*/

/*region Badges*/
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600; /* semiBold */
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

.badge--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/*endregion*/

/*region Lists*/
.list {
    list-style-type: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url("../images/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/*endregion*/

/*region Icons*/
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary)
}

.icon-container {
    background-color: #f3f9fa;
    display: inline-flex;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

/*endregion*/

/*region Buttons*/
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background-color: #2172dc;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background-color: #05cdf0;
}


.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background-color: #ec3000;
}

.btn--outline {
    background-color: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background-color: var(--color-headings);
    color: #fff;
}

.btn--block {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/*endregion*/

/*region Inputs*/
.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--boder-radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;
    font-weight: lighter;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--boder-radius);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/*endregion*/

/*region Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    /*overflow: hidden;*/
}

.card__header, .card__body {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background-color: var(--color-secondary);
    color: #fff;
}

.card--secondary .badge--secondary {
    background-color: #02cdf1;
}

/*endregion*/

/*region Plans*/
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url("../images/popular.svg");
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5%;
}

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }
}

/*endregion*/