<section class="block block--skewed-right">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eveniet maxime nam possimus quo?
            Accusamus consequuntur in ipsa laudantium veniam?</p>
    </header>
</section>

<section class="block block--dark block--skewed-left">
    <header class="block__header">
        <div class="container" >
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eveniet maxime nam possimus quo?
                Accusamus consequuntur in ipsa laudantium veniam?</p>
        </div>
    </header>
</section>