<div style="width: 30%; margin: 4rem" >
  <div class="card card--primary">
    <header class="card__heading">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quidem!
    </div>
  </div>
</div>

<div style="width: 30%; margin: 4rem" >
  <div class="card card--secondary">
    <header class="card__heading">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quidem!
    </div>
  </div>
</div>